* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #fff;
}
.inner-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
/* <------------------------------ HEADER ------------------------------> */
.header {
    width: 100%;
    max-height: 600px;
    background-image: url(../img/background-header.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.nav {
    margin: 40px 0;
    text-align: right;
}
.nav a {
    display: inline-block;
    padding-bottom: .5rem;
    border-bottom: 2px solid transparent;
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
    transition: all .33s ease;
}
.nav a:hover {
    border-bottom: 2px solid #fff;
}
.header-profile {
    display: flex;
    width: 392px;
    height: 128px;
    flex-direction: column;
    justify-content: center;
    margin: 192px auto;
    border: 2px solid #fff;
    border-radius: 4px;
    text-align: center;
    color: #fff;
}
.header-profile__title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 48px;
    font-weight: 300;
}
.header-profile__subtitle {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
}
/* <------------------------------ SECTION-ABOUT ------------------------------> */
.section-about{
    text-align: center;
}
.section-about__inner-container {
    overflow: visible;
}
.profile-photo {
    margin-top: -57.5px;    /* (115 / 2) "115 --> profile photo size" */
}
.profile-photo img {
    width: 115px;
    vertical-align: top;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, .25);
}
.section-about__text-container {
    width: 80%;
    margin: 48px auto 64px auto;
    font-size: 1em;
    color: #5a5a5a;
}
.section-about__title {
    font-size: 34px;
    line-height: 34px;
    font-weight: 300;
    color: #dd820d;
}
.section-about__description {
    margin: auto;
    font-weight: 600;
    line-height: 32px;
}
.section-about__description .text-decorate {
    color: #3895ea;
}
/* <------------------------------ SECTION-JOBS ------------------------------> */
.section-jobs{
    background-color: #f2f2f2;
    padding: 64px 0;
    overflow: hidden;
}
.section-jobs__title {
    margin: 0;
    margin-bottom: 64px;
    font-size: 34px;
    line-height: 34px;
    font-weight: 300;
    text-align: center;
    color: #323068;
}
.section-jobs__jobs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-jobs__job {
    width: 23%;
    max-width: 240px;
    margin-bottom: 38px;
}
.job-thumb {
    width: 100%;
}
.job-thumb img {
    width: 100%; 
    vertical-align: top;
    border-radius: 4px
}
.job__text-container {
    text-align: center;
}
.job-title {
    font-weight: 700;
    color: #3895ea;
}
.job-technologies {
    font-size: 14px;
}
/* <------------------------------ SECTION-CONTACT ------------------------------> */
.section-contact {
    padding: 64px 0;
}
.section-contact__title {
    margin: 0;
    margin-bottom: 64px;
    font-size: 34px;
    line-height: 34px;
    font-weight: 300;
    text-align: center;
    color: #3895ea;
}
.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact-input {
    padding: 16px 20px;
    border: 2px solid #cecece;
    border-radius: 4px;
    font-size: 20px;
    color: #a4a4a4;
}
.contact-input__name, .contact-input__email {
    width: 49%;
    margin-bottom: 16px;
}
.contact-input__message {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 96px;
    min-height: 96px;
    max-height: 100%;
    margin-bottom: 16px;
}
.button-submit {
    margin: 0 auto;
    padding: 16px 48px;
    border: none;
    border-radius: 4px;
    background-color: #3895ea;
    color: #fff;
    cursor: pointer;
    transition: all .33s ease;
}
.button-submit:hover {
    background-color: #185ac4;
}
/* <------------------------------ FOOTER ------------------------------> */
